main {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

.topic-card-list {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
}

.topic-card {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 14px;
  overflow: hidden;
  box-sizing: content-box;
  transition: all .3s ease-in-out;
  .topic-name{
    display: flex;
    align-items: center;
    a {
      padding-left: 8px;
      font-weight: 600;
      color: #334155;
    }
  }
  .topic-list {
    padding: 24px 0 18px 24px;
  }
  i {
    font-size: 18px;
    font-weight: bolder;
  }
  &:hover{
    box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
    border-color: #fff;
  }
  ul {
    display: flex;
    flex: 4;
    flex-direction: column;
    padding: 0px 12px;
    li {
      padding-left: 12px;
      margin-bottom: 6px;
      line-height: 32px;
      border-radius: 4px;
      transition: all .3s ease-in-out;
      a {
        display: block;
        height: 32px;
        font-size: 14px;
        color: #475569;
        font-weight: 400;
      }
      &:hover{
        background-color: #f0f6ff;
      }
      &:hover a {
        color: var(--primary-color);
      }
    }
  }
  .topic-more {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 12px 24px;
    border-top: 1px solid #f1f5f9;
    a {
      color: var(--primary-color);
    }
    span {
      color: #cbd5e1;
    }
    &:hover a {
      color: #375ff3;
    }
    &:hover i {
      color: #375ff3;
    }
  }
}

@media (max-width: 900px) {
  .topic-card-list {
    grid-template-columns: 49% 49%;
  }
  .topic-card {
    border: none;
    box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
  }
  .topic-card:not(:last-child) {
    margin-right: 0;
  }
}

.banner {
  height: 260px;
  box-sizing: content-box;
  background-color: #2861f3;
}

.banner-title {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:10px;
  .title-text{
    font-size: 32px;
    color:#FFF;
    font-weight: 400px;
  }
  .home-search{
    max-width: 700px;
    width: 80%;
    height: 44px;
  }
}

.quickportal {
  max-width: 1180px;
  margin-top: -54px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  box-shadow: 0px 8px 24px 4px rgba(148, 163, 184, 0.25);
  border-radius: 8px;
  padding: 0;
  li {
    height: 56px;
    display: flex;
    flex: 1;
    padding: 0 25px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    a {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    p {
      color: #94a3b8;
      font-size: 14px;
    }
    i {
      font-size: 40px;
    }
  }
  .portal-text {
    margin-left: 25px;
  }
  .portal-name {
    font-size: 20px;
    font-weight: bolder;
    color: #334155;
    transition: color .3s ease-in-out;
  }
}

.quickportal li a i,
span,
p {
  margin: 0;
}

.quickportal li:hover .portal-text > span {
  color: #375ff3;
}
.quickportal li:not(:last-child) ::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: "";
  height: 56px;
  width: 1px;
  background-color: #e6ecf9;
}

@media (max-width: 1200px) {
  .quickportal li:not(:last-child) ::after {
    display: none;
  }
  .quickportal p {
    display: none;
  }
  .quickportal .portal-text {
    margin-left: 0px;
  }
  .quickportal li {
    justify-content: center;
  }
  .quickportal li a {
    flex-direction: column;
  }

  .quickportal .portal-name {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
  }
}

.home-content {
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  .section{
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .home-content {
    max-width: 1140px;
  }
}
