{{- $redirectURL := "" }}
{{ with .Params.redirect}}
  {{ if or (hasPrefix . "http:") (hasPrefix . "https:") }}
    {{ $redirectURL = . }}
  {{ else }}
    {{ $redirectURL = ref $ .}}
  {{ end }}
{{ end }}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ end }}</title>
    {{ partial "html-head.html" . }}
    {{if ne $redirectURL "" }}
      <meta http-equiv="refresh" content="0;{{ $redirectURL }}">
    {{end}}
  </head>

  <body data-url="{{ .RelPermalink }}"

  class="
  {{- with .Params.render}}render_{{.}} {{end -}}
  {{if (in .Params.hide "header")}}hideheader {{end -}}
  {{if (in .Params.hide "nav")}}hidenav {{end -}}
  {{if (in .Params.hide "breadcrumb")}}hidebreadcrumb {{end -}}
  {{if (in .Params.hide "toc")}}hidetoc {{end -}}
  {{if (in .Params.hide "footer")}}hidefooter {{end -}}
  {{if (in .Params.hide "nextpage")}}hidenextpage {{end -}}
  ">

<style type="text/css">
  #debug{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 3.5rem;
    margin-bottom: .35rem;
    padding: 0 2rem;
    position: fixed;
    left: 0;      right: 0;     top: 0;
   
    top:0px;
    
    min-height: 150px;

    background-color: white;
    border: 3px solid red;
    z-index: 10000 ;
    word-wrap: all;
    overflow: auto;
  }
</style>

{{ if ne $redirectURL ""}}
    <script type="text/javascript">
      window.location = '{{ $redirectURL }}'
    </script>
    <a href="{{ $redirectURL }}">go to {{ $redirectURL }}</a>
{{ else if eq .Params.render "raw" }}
      {{- .Content -}}
{{ else }}
    
    {{if not (in .Params.hide "header")}}
    <header>
        {{ partial "body-header.html" . }}
    </header>
    {{end}}

  {{ if .IsSection }}
    {{range first 1 .Pages}}
      <script>
        window.location.href = "{{.Permalink}}";
      </script>
    {{end}}
  {{end}}

    {{if not .IsHome}}
      {{if .Draft}}
      <script>
        window.location.href = "{{.Site.BaseURL}}";
      </script>
      {{end}}
    <article>
      {{if not (in .Params.hide "nav")}}
      <aside class="chapter-menu" id="chapter-menu">
        {{ partial "body-sidebar.html" . }}
      </aside>
      {{end}}

      <section class="page{{.Params.layout }}">
      {{ block "main" . }}
      {{ end }}
      </section>
      <div class="menu-mask" id="menu-mask"></div>

      <!-- NAVIGATION DROITE TOC -->
      {{if not (in .Params.hide "toc")}}
      <section class="right-menu {{.Params.layout }}" id="right-menu">
      {{ block "sidepage" . }}
      {{ end }}
      </section>
      {{end -}}
      <!-- FIN NAVIGATION DROITE TOC -->
    </article>

    <div class="menu-button" id="menu-button">
      <span> 目录 </span>
    </div>
    <div class="chapter-button" id="chapter-button">
      <span> 章节 </span>
    </div>
    {{else}}

    <main>
      <div class="banner">
        {{ "<!-- banner -->" | safeHTML }}
      <div class="home-content">
        <div class="banner-title">
          <h2 class="title-text">{{ .Site.Params.bannerTitle | markdownify }}</h1>
          <p class="text-white mb-4">{{ .Site.Params.banner.subtitle | markdownify }}</p>
          <div class="home-search">
            {{ partial "static_search.html" . }}
          </div>
        </div>
      </div>
      {{ "<!-- /banner -->" | safeHTML }}
      </div>
      
      <div class="home-content">
        {{ "<!-- portal -->" | safeHTML }}
        <section class="section">
            <ul class="quickportal">
              {{ range .Site.Menus.quickportal }}
                <li>
                  <a href="{{ .URL }}">
                    {{ partial "svg.html" (dict "name" .Identifier "width" 44 "height" 44 ) }}
                    <div class="portal-text">
                      <span class="portal-name">{{ .Name }}</span>
                      <p>{{ .Title }}</p>
                    </div>
                  </a>
                </li>
              {{ end }}
            </ul>
        </section>
    
        
        {{ "<!-- topics -->" | safeHTML }}
        <section class="section">
            <div class="topic-card-list">
              {{ "<!-- topic-item -->" | safeHTML }}
              {{range where .Pages "Draft" false}}
                  <div class="topic-card">
                    <div class="topic-list">
                      <span class="topic-name">
                        {{ with .Params.icon}}
                        {{ partial "svg.html" (dict "name" . "width" 16 "height" 16 "fill" "none" ) }}
                        {{end}}
                        <a href="{{.Permalink}}">{{ .Title }}</a>
                      </span>
                      <!-- {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}} -->
                    </div>
                    <ul>
                      {{ range first 4 (where .Pages "Draft" false) }}
                      <li>
                        <a href="{{.Permalink}}">{{.Title}}</a>
                      </li>
                      {{ end }}
                    </ul>
                    <div class="topic-more">
                      {{range first 1 .Pages}}
                      <a href="{{ .Permalink }}">查看全部</a>
                      {{ else }}
                      <a href="{{ .Permalink }}">查看全部</a>
                      {{end}}
                      <span>></span>
                    </div>
                  </div>
              {{ end }}
            </div>
        </section>
        {{ "<!-- /topics -->" | safeHTML }}
      </div>
      
    </main>

    
  {{end}}


    {{if not (in .Params.hide "footer")}}
    <footer>
      {{ partial "body-footer.html" . }}
    </footer>
    {{end}}
{{end}}
  </body>
  <script type="text/javascript" src='{{"lib/search/lunr/lunr.js" | relURL}}'></script>
  <script type="text/javascript" src='{{"lib/search/lunr/auto-complete.min.js" | relURL}}'></script>
  <script type="text/javascript" src='{{"lib/search/lunr/search.js" | relURL}}'></script>
</html>
